* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  background-color: #858585;
}

.container {
  width: 600px;
  background-color: #f7f7f7;
  border-radius: 3rem;
  padding: 25px 100px;
  margin: 13rem auto;
}

.box {
  margin: 1rem;
  display: flex;
  justify-content: center;
  background-color: rgb(196, 198, 199);
  border-radius: 2rem;
}

.disp {
  background-color: #faf732 !important;
  font-size: large;
}

span {
  font-size: x-large;
  margin-top: 0.9rem;
}

.counter button {
  border: none;
  cursor: pointer;
  height: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  width: 3rem;
  margin: 0 1rem;
  background-color: #fdfb6e;
  color: #000;
  margin: 0.9rem;
  border-radius: 1rem;
}

.counter button:hover {
  background-color: #fffb00;
  transform: scale(1.25);
}

.counter input {
  font-size: large;
  margin: 0.5rem;
  width: 5rem;
}

button {
  border: none;
  cursor: pointer;
  height: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  width: 8rem;
  background-color: #383838;
  color: #fff;
  margin: 0.5rem;
  border-radius: 1rem;
}

button:hover {
  background-color: #fff;
  color: #383838;
}
